/*
white: #ffffff
black: #000000
RED HEX COLOR: #EC0C1C;
                rgb(236,12,28);
DARK RED HEX COLOR: #D80919;
                    rgb(216,9,25);
BLUE HEX COLOR: #063672;
GOLD HEX COLOR: #9B814E;

font-family: 'Raleway', Helvetica, sans-serif;
font-family: 'Raleway Dots', cursive;
font-family: 'PT Serif', Georgia, serif;
font-family: 'IBM Plex Sans', Helvetica, sans-serif;
*/

html {
  font-size: 16px;
}
a:hover {
  text-decoration: none;
}
body {
  background-color: #ffffff;
}
.mediaIcon {
  border-radius: 50%;
  padding: 0.1em;
  background-color: #EC0C1C;
  width: 3em;
  height: 3em;
  font-size: 1.2em;
  display: flex;
  justify-content: center;
  align-items: center;
}
.mediaIcon i {
  color: #ffffff;
}
.mediaIcon.facebooklink {
  background-color: #3B5998;
}
.description {
  background-color: #ffffff;
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0.5em;
}
.description h1, .description h2 {
  color: #EC0C1C;
  font-family: 'PT Serif', Georgia, serif;
}
.description p,
.description li {
  font-size: 1em;
  font-family: 'Raleway', Helvetica, sans-serif;
}
#motto {
  font-family: 'Raleway Dots', cursive;
  font-weight: 400;
  font-size: 4em;
}
input[type="submit"],
input[type="reset"]
{
    background: transparent;
    border: none;
    padding: 0.5em;
}
